.note-card {
  transition: all 200ms ease;
}

.note-card:hover {
  transform: scale(1.02);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

::ng-deep .small-icon-btn.mdc-icon-button {
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: 8px;
}

::ng-deep .small-icon-btn.mdc-icon-button .mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}
